<header>
    <div class="logo">      <!--Logo heseg-->
        <h1 class="logo-text">BLOG</h1>
    </div>
<!--Menu heseg-->
<i class="fa fa-bars menu-toggle"></i>
<ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Services</a></li>
<!--Dashboard, logout-->
        <li>
            <a href="#">
                <i class="fa fa-user"></i>
                Profile
                <i class="fa fa-chevron-down"></i>
            </a>
        <ul>
            <li><a href="/admin">Admin</a></li>
        </ul>
        </li>
    </ul>
</form>
</header>