<%- include('layout/head.ejs') %> 
<body>
    <%- include('layout/header.ejs'); %>
    <!--Page Wrapper-->
    <div class="page-wrapper">

        <!--Content-->

        <div class="content clearfix">
            
        <!--Main Content-->
            <div class="main-content about">
                <h1 class="recent-post-title">Бидний тухай</h1>

                <div class="post about">
                    <img src="images/about.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h2>Бидний тухай</h2>
                        <i class="far fa-user">Blogger</i>
                        &nbsp;
                        <i class="far fa-calendar">April 15, 2021</i>
                        <p class="preview-text" > БИД ЮУ ХИЙДЭГ ВЭ?<br>
                            Манай хамт олон нь сонин сонирхолтой сүүлийн үеийн мэдээ мэдээллийг хэрэглэгчийн гарт 
                            хэрэглэхэд эвтэйхэн хялбар байлгах үүднээс бүх төрлийн төхөөрөмжийн (phone, tablet, desktop)
                            дэлгэцэнд тохирсон хэлбэр хийцтэйгээр (responsive) бүтээсэн билээ.<br> Мөн шинэ сонирхолтой, энтэртаймэнт мэдээ мэдээллийг 
                            таны гарт хүргэх болсондоо таатай байна. </p>
                    </div>
                </div>

            </div>
        <!--//Main Content-->

        <!--Content-->
    </div>  
    
    <%- include('layout/footer.ejs'); %>

    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!--Slick-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--JS-->
</body>
</html>