<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <style>
body{  
    margin: 0;  
    padding: 0;  
    background-color:#C0C0C0;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #282828	;  
        border-radius: 15px ;   
}  
h2{  
    text-align: center;  
    color: #282828;  
    padding: 20px 
}
label{  
    color: #e0e0e0;  
    font-size: 17px;
    position: relative;
    left: 10%;
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    position: relative;
    left: 10%;
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;    
    position: relative;
    left: 10%;
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;
    position: relative;
    left: 11.5%;
    background-color: #C0C0C0;
}  
#log:hover{
    background: rgb(27, 27, 27);
    color: #C0C0C0;
    transition: .3s;
}
span{  
    color: white;  
    font-size: 17px; 
    position: relative;
    left: 10%;
    font-weight: bold;
}  
#check{
    position: relative;
    left: 10%;
}
#a{  
    float: right;  
    border: none;
    border-radius: 17px;
    text-decoration: none;
    background-color: #C0C0C0;
    color: black ;
    font-weight: bold;
    position: relative;
    right: 9.2%;
}
#a:hover{
    color: #C0C0C0;
    background: rgb(27, 27, 27);
}
    </style>
</head>    
<body>    
    <h2>Login</h2><br>    
    <div class="login">    
    <form action="/admin" id="login" method="POST">
        <label><b>Username</b></label><br>
        <input type="username" name="username" id="Uname" placeholder="Username">    
        <br><br>
        <label><b>Password</b>    
        </label>    
        <input type="Password" name="password" id="Pass" placeholder="Password">    
        <br><br>
        <input type="submit" id="log" value="Log In Here">       
        <br><br>
    </form>
</div>    
</body>    
</html>